	<footer class="site-footer gradient2">
		<div class="wrapper site-footer__container">
			<div class="site-footer__section site-footer__section__1">
				<div class="social-media">
					<div class="social-media__item">
						<i class="fab fa-facebook-f"></i>
					</div>
					<div class="social-media__item">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="social-media__item">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="social-media__item">
						<i class="fab fa-youtube"></i>
					</div>
				</div>
				<p class="social-media__text">Visit Us!</p>
			</div>
			<div class="site-footer__section site-footer__section__2">
				<div class="site-map">
					<div class="site-map__item">
						<ul>
							<li class="site-map__item__header">Company</li>
							<a href="#"><li>About us</li></a>
							<a href="#"><li>Contact</li></a>
							<a href="#"><li>Careers</li></a>
						</ul>
					</div>
					<div class="site-map__item">
						<ul>
							<li class="site-map__item__header">Privacy</li>
							<a href="#"><li>Terms & Conditions</li></a>
							<a href="#"><li>Privacy & Cookies</li></a>
						</ul>
					</div>
					<div class="site-map__item">
						<ul>
							<li class="site-map__item__header">Help</li>
							<a href="#"><li>FAQs</li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="site-footer__section site-footer__section__3">
				<a href="/">
					<div class="site-footer__logo">
						<img src="/images/space_travel_logo.png">
						<div class="site-footer__logo__text">
							<span class="text--turquoise">Space</span>Travel
						</div>
					</div>
				</a>
				
				<p class="site-footer__text">&#9400; 2020 SpaceTravel | All rights reserved</p>
			</div>	
		</div>
	</footer>	
</body>
</html>