<header class="site-header">
	<div class="site-header__container wrapper">
		<a href="/">
			<div class="site-header__logo">
				<div class="logo">
					<div class="logo__outer-line">
						<div class="logo__inner-line">
							<div class="logo__center-planet">

							</div>
						</div>
					</div>
					<div class="logo__blue-planet-1">

					</div>
					<div class="logo__blue-planet-2">

					</div>
				</div>
				<!--<img src="/images/space_travel_logo_3.svg">-->
				<div class="site-header__logo__text">
					<span class="text--turquoise">Space</span>Travel
				</div>
			</div>
		</a>

		<div class="site-header__menu-mobile">
			<% if(!currentUser){ %>
				<a class="site-header__menu-mobile__login-icon" href="/login"><i class="far fa-user"></i></a>
			<% } %>
			<div class="site-header__menu-mobile__icon">
				<div class="site-header__menu-mobile__icon--top"></div>
				<div class="site-header__menu-mobile__icon--middle"></div>
				<div class="site-header__menu-mobile__icon--bottom"></div>
			</div>
		</div>
		<div class="site-header__menu-content">
			<nav class="primary-nav primary-nav--pull-right">
				<ul>
					<li><a href="/#special-offers" id="special-offers-link">Special Offers</a></li>
					<li><a href="/#about-us" id="about-us-link">About Us</a></li>
					<li><a href="/#why-choose-us" id="why-choose-us-link">Why Choose Us</a></li>

					<% if(!currentUser){ %>
						<li><a href="/register">Sign Up</a></li>
						<li><a href="/login"><span class="text--orange text--bold">Log In</span></a></li>
					<% } else { %>
						<li><a href="/logout"><span class="text--orange text--bold">Log Out</span></a></li>
					<% } %>
				</ul>
			</nav>
		</div>
	</div>
</header>