<!-- large Banner HTML -->
<div class="large-banner large-banner--small gradient__with-bg1">
	<div class="large-banner__text-content large-banner__text-content--lessMargin">
		<div class="wrapper">
			<form class="form" action="/vacationSpots" method="GET">
				<div class="form__box">
					<div class="form__input-container">
						<label class="form__input-label">planet</label>
						<input type="text" name="planet" class="form__input" placeholder="Which planet?">
					</div>
					<div class="form__input-separator">		
					</div>
					<div class="form__input-container form__input-container--half">
						<label class="form__input-label">check-in</label>
						<input type="text" class="form__input" placeholder="Begin?">
					</div>
					<div class="form__input-separator form__input-separator--mobile">		
					</div>
					<div class="form__input-container form__input-container--half">
						<label class="form__input-label">check-out</label>
						<input type="text" class="form__input" placeholder="End?">
					</div>
					<div class="form__input-separator">		
					</div>
					<div class="form__input-container">
						<label class="form__input-label">guests</label>
						<input type="number" class="form__input" placeholder="How many?">
					</div>
				</div>
				<button class="btn btn--large btn--no-margin">Explore</button>
			</form>
		</div>
	</div>
</div>