<%- include("partials/header") %>
<%- include("partials/nav") %>
<%- include("partials/smallBanner") %>

<div class="imprint-section">
	<div class="wrapper wrapper--maxWidth-1000">
		<h3 class="imprint-section__title">Legal Disclosure</h3>
		<h4 class="imprint-section__subtitle">Information in accordance with Section 5 TMG</h4>
		
		<p class="imprint-section__text">
			Dennys Verrino<br>
			Struveweg 3a<br>
			79114 Freiburg im Breisgau
		</p>	
	</div>
</div>

<div class="wrapper wrapper--maxWidth-1000">
	<div class="imprint-section__separator"></div>
</div>

<div class="imprint-section">
	<div class="wrapper wrapper--maxWidth-1000">
		<h4 class="imprint-section__subtitle">Contact Information</h4>
		<p class="imprint-section__text">
			E-Mail: <a href="mailto:dennys.verrino@gmail.com">dennys.verrino@gmail.com</a><br>
			Internet address: <a href="https://spacetravel-vypjd.run-eu-central1.goorm.io/" target="_blank">https://spacetravel-vypjd.run-eu-central1.goorm.io/</a>
		</p>	
	</div>
</div>

<div class="wrapper wrapper--maxWidth-1000">
	<div class="imprint-section__separator"></div>
</div>

<div class="imprint-section">
	<div class="wrapper wrapper--maxWidth-1000">
		<h4 class="imprint-section__subtitle">Graphics and Image Sources</h4>
		<p class="imprint-section__text">
			unsplash.com
		</p>	
	</div>
</div>	

<div class="wrapper wrapper--maxWidth-1000">
	<div class="imprint-section__separator"></div>
</div>

<div class="imprint-section">
	<div class="wrapper wrapper--maxWidth-1000">
		<h4 class="imprint-section__subtitle">Disclaimer</h4>
		<p class="imprint-section__text">
			Accountability for content<br>
			The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
			accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for 
			our own content on these web pages. In this matter, please note that we are not obliged to monitor 
			the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. 
			Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per 
			§§ 8 to 10 of the Telemedia Act (TMG).

			<br><br>Accountability for links<br>
			Responsibility for the content of 
			external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were 
			evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective 
			link immediately.<br><br>Copyright<br> Our web pages and their contents are subject to German copyright law. Unless 
			expressly permitted by law, every form of utilizing, reproducing or processing 
			works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. 
			Individual reproductions of a work are only allowed for private use. 
			The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.
		<p class="imprint-section__text">	
	</div>
</div>

<div class="wrapper wrapper--maxWidth-1000">
	<div class="imprint-section__separator"></div>
</div>

<div class="imprint-section">
	<div class="wrapper wrapper--maxWidth-1000">
		<i>Quelle: </i><a href="http://www.translate-24h.de" target="_blank">translate-24h Englisch Übersetzungen</a> <br><br>
	</div>
</div>

<%- include("partials/footer") %>