<%- include("partials/header") %>

<div class="background gradient">
	<a href="/">
		<div class="login-form__logo">
			<img src="/images/space_travel_logo.png">
			<div class="login-form__logo__text">
				<span class="text--turquoise">Space</span>Travel
			</div>
		</div>
	</a>
	<form class="login-form" action="/register" method="POST">
		<div class="login-form__headline">
			<div class="login-form__iconbox">
				<i class="fas fa-circle"></i>
			</div>
			<h2 class="login-form__title">Register</h2>
		</div>
		
		<div class="login-form__input-container">
			<div class="login-form__input-iconbox">
				<i class="far fa-user"></i>
			</div>
			<input class="login-form__input" type="text" name="username" placeholder="Username" required>
		</div>
		<div class="login-form__input-container">
			<div class="login-form__input-iconbox">
				<i class="fas fa-lock"></i>
			</div>
			<input class="login-form__input" type="password" name="password" placeholder="Password" required>
		</div>
		<button class="btn btn--turquoise btn--full-width btn--slim">Sign Up</button>
		<p class="login-form__signup-line">You have an account? <a href="/login"><strong>Login</strong></a></p>
	</form>
	<p class="login-form__privacy-policy-line">By logging in you agree to our <a>Privacy Policy</a></p>
</div>

<%- include("partials/footer_without_map") %>