@import 'normalize.css';

/* global rules */

html{
}

body{
    font-family: 'MuseoModerno', cursive;
}

a{
	text-decoration: none;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*__________________________________________________________________________________ */

/* variables */


$mainWhite: #FFFFFF;
$mainGrey: #c7ced6;
$lightGrey: #F7FAFD;
$mainOrange: #fb9073;
$mainTurquoise: #16dcd0;
$darkTurquoise: #244a57;
$mainBlue: #222f4b;
$darkBlue: #211740;

/*__________________________________________________________________________________ */

/* mixins */


@define-mixin atSmall{
	@media(min-width: 530px){
		@mixin-content;
	}
}

@define-mixin atMedium{
	@media(min-width: 900px){
		@mixin-content;
	}
}

@define-mixin atLarge{
	@media(min-width: 1200px){
		@mixin-content;
	}
}

/*__________________________________________________________________________________ */

/* specials */
.text{
	&--orange{
		color: $mainOrange;
	}

	&--turquoise{
		color: $mainTurquoise;
	}
	
	&--bold{
		font-weight: 300;
	}	
}

.wrapper{
	padding-left: 30px;
	padding-right: 30px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	
	&--wider{
		padding-left: 14px;
		padding-right: 18px;
		
		@mixin atMedium{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	
	&--narrow{
		padding-left: 50px;
		padding-right: 50px;
		
		@mixin atSmall{
			padding-left: 100px;
			padding-right: 100px;
		}
		
		@mixin atMedium{
			padding-left: 150px;
			padding-right: 150px;
		}
	}
	
	&--maxWidth-1000{
		max-width: 1000px;
	}
}

.gradient{
	background-image: linear-gradient(to top, rgba($darkTurquoise, 1.0), rgba($darkBlue, 1.0));
	
	&__with-bg1{
		background-image: linear-gradient(to top, rgba($darkTurquoise, 1.0), rgba($darkBlue, 0.8)), url(../images/space_landscape_medium.jpg);
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
	
	&__with-bg2{
		background-image: linear-gradient(to top, rgba($darkTurquoise, 1.0), rgba($darkBlue, 0.8)), url(../images/about_us_bg.jpg);
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
}

.gradient2{
	background: linear-gradient(0deg, $darkTurquoise, $mainBlue);
}

/*__________________________________________________________________________________ */

/* row and column layout */

.row{
	
	display: flex;
	justify-content: space-between;
	
	
	&__6{
		
		width: 49.2%;
	}	
}

.grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	
	@mixin atMedium{
	 	justify-content: flex-start;
	}
	
	&__tile{
		
		&--col-3{
			flex: 0 0 100%;
			max-width: 500px;
			margin-bottom: 30px;
			
			@mixin atSmall{
				padding-right: 15px;
				padding-left: 15px;
			}
			
			@mixin atMedium{
				flex: 0 0 50%;
				max-width: 50%;
			}
			
			@mixin atLarge{
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
		}
		
		&--col-2{
			flex: 0 0 100%;
			max-width: 100%;
			
			@mixin atSmall{
				padding-right: 15px;
				padding-left: 15px;
			}
			
			@mixin atMedium{
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}

.card{
	width: 100%;
	overflow: hidden;
	
	&--borderR{
		border-radius: 5px;	
	}
	
	&__image-box{
		height: 180px;
		width: 100%;
		overflow: hidden;
		
		@mixin atSmall{
			height: 250px;
		}
		
		img{
			height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
		}
	}
	
	&__info-box{
		position: relative;
		padding: 25px 18px 18px 18px;
		background-color: $mainWhite;
		
		@mixin atSmall{
			padding: 35px 24px 24px 24px;
		}
		
		&__details{
			background-color: $mainTurquoise;
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 auto;
			color: $mainWhite;
			text-align: center;
			border-radius: 20px;
			font-size: 0.85rem;
			padding: 10px;
			font-weight: 500;
			
			@mixin atSmall{
				top: -25px;
				font-size: 1rem;
				padding: 15px;
			}
		}
		
		&__title-box{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		&__title{
			font-size: 1.1rem;
			font-weight: 600;
			margin: 0;
			
			@mixin atSmall{
				font-size: 1.3rem;
			}
		}
		
		&__price{
			font-size: 0.9rem;
			font-weight: 600;
			margin: 0;
			
			@mixin atSmall{
				font-size: 1.1rem;
			}
			
			span{
				font-size: 0.6rem;
				font-weight: 300;
				
				@mixin atSmall{
					font-size: 0.9rem;
				}
			}
		}
		
		&__subtitle{
			font-weight: 500;
			font-size: 0.9rem;
			margin: 3px 0;
			
			@mixin atSmall{
				font-size: 1rem;
			}
		}
		
		&__description{
			font-weight: 400;
			font-size: 0.8rem;
			
			@mixin atSmall{
				font-size: 0.9rem;
			}
		}
		
		&__rating{
			color: $mainTurquoise;
			font-size: 0.8rem;
			font-weight: 600;
			margin-top: 7px;
			
			@mixin atSmall{
				font-size: 0.9rem;
			}
		}
	}
}

/*__________________________________________________________________________________ */

/* show section */

.show-section{
	padding:30px 0;
	
	&__image-box{
		height: 250px;
		width: 100%;
		overflow: hidden;
		margin: 35px 0;
		margin-top: 0;
		padding: 0;
		
		@mixin atSmall{
			height: 350px;
		}
		
		@mixin atMedium{
			height: 500px;
			padding: 0 15px;
			margin: 35px 0;
		}
		
		img{
			border-radius: 5px;
			height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
		}
	}
	
	&__title{
		font-size: 1.3rem;
		font-weight: 600;
		margin: 0;
		
		@mixin atMedium{
			font-size: 1.4rem;
		}
	}
	
	&__subtitle{
		font-weight: 500;
		font-size: 1.1rem;
		margin: 0;
		
		@mixin atMedium{
			font-size: 1.2rem;
		}
	}
	
	&__item-title{
		font-weight: 500;
		font-size: 1.1rem;
		margin-bottom: 12px;
		
		@mixin atMedium{
			font-size: 1.2rem;
		}
		
		&--with-ml{
			
			@mixin atMedium{
				margin-left: 15px;
			}
		}
	}
	
	&__text{
		font-size: 0.9rem;
		margin: 12px 0;
		
		@mixin atMedium{
			font-size: 1rem;
		}
	}
	
	&__rating{
		color: $mainTurquoise;
		font-size: 1.2rem;
		font-weight: 500;
		
		@mixin atMedium{
			font-size: 1.3rem;
		}
	}

	&__price{
		font-size: 1.1rem;
		font-weight: 500;
		margin: 0;
		margin-top: 10px;
		
		@mixin atMedium{
			font-size: 1.2rem;
		}

		span{
			font-size: 0.9rem;
			font-weight: 300;
			
			@mixin atMedium{
				font-size: 1rem;
			}
		}
	}
	
	&__details{
		
		li{
			list-style: none;
			margin-bottom: 6px;
			font-weight: 300;
			font-size: 0.9rem;
			
			@mixin atMedium{
				font-size: 1rem;
			}
			
			i{
				color: $mainOrange;
				margin-right: 12px;
				font-size: 1.2rem;
				
				@mixin atMedium{
					font-size: 1.3rem;
				}
			}
		}
	}
	
	&__description-box{
		margin-top: 30px;
		
		@mixin atMedium{
			margin-top: 0;
		}
	}
	
	&__description{
		font-size: 0.9rem;
		line-height: 1.3125rem;
		font-weight: 300;
		
		@mixin atMedium{
			font-size: 1rem;
		}
	}
	
	&__separator{
		height: 1px;
		width: 100%;
		background-color: #dfe2ea;
		padding: 0 15px;
	}
}

.review-item{
	
	padding: 24px;
	padding-top: 45px;
	border: 1px solid $mainGrey;
	border-radius: 5px;
	position: relative;
	margin-top: 35px;
	
	@mixin atMedium{
		padding-top: 60px;
	}
	
	&__profil-pic-box{
		
		height: 72px;
		width: 72px;
		position: absolute;
		top: -36px;
		left: 50%;
		transform: translateX(-50%);
		
		@mixin atMedium{
			height: 96px;
			width: 96px;
			position: absolute;
			top: -48px;
		}
		
		i{
			color: $mainOrange;
			font-size: 4.5rem;
			
			@mixin atMedium{
				font-size: 5.9375rem;
			}
		}
	}
	
	&__title{
		font-size: 0.9rem;
		font-weight: 500;
		margin-bottom: 5px;
		
		@mixin atMedium{
			font-size: 1rem;
		}
	}
	
	&__text{
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 1.3125rem;
		
		@mixin atMedium{
			font-size: 1rem;
		}
	}
	
	&__author-box{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		
		span{
			font-size: 0.75rem;
			font-weight: 500;
			
			@mixin atMedium{
				font-size: 0.85rem;
			}
		}
	}
	
	&__rating{
		margin-top: 14px;
		color: $mainTurquoise;
		font-size: 1rem;
		
		@mixin atMedium{
			font-size: 1.1rem;
		}
	}
}

/* primary navigation */

.primary-nav{
	
	ul{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	
	li{
		list-style: none;
		margin-right: 40px;
		
		
		&:last-child{
			margin-right: 0;
		}
	}
	
	a{
		color: $mainWhite;
		text-decoration: none;
		display: block;
		padding: 12px 0;
		font-size: 1rem;
		font-weight: 200;
	}
}

/*__________________________________________________________________________________ */

/* button */

.btn{
	background-color: rgba($mainTurquoise, 0.2);
  	border: 2px solid $mainTurquoise;
	border-radius: 4px;
 	color: $mainWhite;
 	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1.1rem;
	cursor: pointer;
	margin-top: 15px;
	
	
	&--no-margin{
		@mixin atMedium{
			margin-top: 0;
		}	
	}
	
	&--small{
		font-size: 0.8rem;
		padding: 5px 7px;
		font-weight: 300;
		margin-top: 15px;
	}
	
	&--large{
		
		@mixin atMedium{
			padding: 10px 20px;
			font-size: 1.2rem;
		}
		
		@mixin atLarge{
			padding: 10px 30px;
			font-size: 1.5rem;
		}
	}
	
	&--full-width{
		width: 100%;
	}
	
	&--not-transparent{
		background-color: rgba($mainTurquoise, 1.0);
	}
	
	&--full-transparent{
		background-color: rgba($mainTurquoise, 0);
		color: $mainTurquoise;
		font-weight: 500;
	}
}

/*__________________________________________________________________________________ */

/* site header */

.site-header{
	padding: 10px 0;
	position: fixed;
	z-index: 4;
	width: 100%;
	/* background-color: $darkBlue; */
	
	@mixin atMedium{
		padding: 20px 0
	}
	
	@mixin atLarge{
		padding: 30px 0
	}
	
	&__container{
		display: flex;
		justify-content: space-between;
	}
	
	&__logo{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 40px;
		width: 140px;
	
		
		img{
			height: 40px;
			width: 40px;
			margin-right: 5px;
			
			@mixin atMedium{
				height: 70px;
				width: 70px;
			}
			
			@mixin atLarge{
				height: 100px;
				width: 100px;
			}
		}
		
		&__text{
			color: $mainWhite;
			font-weight: 300;
			font-size: 1.1rem;
			
			@mixin atLarge{
				font-size: 1.5rem;
			}
		}
	}
	
	&__menu-desktop{
		display: none;
		
		@mixin atMedium{
			display: block;
		}
	}
	
	&__menu-mobile{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		height: 40px;
		
		
		@mixin atMedium{
			display: none;
		}
		
		
		i{
			font-size: 1.1rem;
			color: $mainOrange;
			margin-right: 10px
		}
		
		&__icon{
			
			position: relative;
			height: 14px;
			width: 20px;
			
			&--top{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $mainWhite;
			}
			
			&--middle{
				position: absolute;
				top: 6px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $mainWhite;
			}
			
			&--bottom{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $mainWhite;
			}
		}
	}
}

/*__________________________________________________________________________________ */

/* large-hero-section */

.large-banner{
	height: 400px;
    position: relative;
	overflow: hidden;
	
	@mixin atMedium{
		height: 450px;
	}
	
	@mixin atLarge{
		height: 600px;
	}
	
	&--small{
		height: 320px;
		
		@mixin atMedium{
			height: 250px;
		}
	
		@mixin atLarge{
			height: 300px;
		}
	}
	
	&--smaller{
		height: 60px;
		
		@mixin atMedium{
			height: 100px;
		}
	
		@mixin atLarge{
			height: 160px;
		}
	}

    &__image {
		
		width: 100%;
		display: block;
		position: absolute;
		opacity: 0.15;
		z-index: 1;	
    }
	
	&__text-content{
		position: relative;
		color: $mainWhite;
        text-align: center;
		z-index: 3;
		margin-top: 80px;
		
		@mixin atMedium{
			margin-top: 200px;
		}
		
		@mixin atLarge{
			margin-top: 250px;
		}
		
		&--lessMargin{
			@mixin atMedium{
				margin-top: 130px;
			}
			
			@mixin atLarge{
				margin-top: 160px;
			}
		}
    }
	
	&__title{
		font-size: 1.8rem;
		font-weight: 400;
		margin: 0;
		
		@mixin atMedium{
			font-size: 2.5rem;
		}
		
		@mixin atLarge{
			font-size: 3rem;
		}
	}
	
	&__subtitle{
		color: $mainGrey;
		font-size: 0.775rem;
		font-weight: 400;
		margin: 5px 0 20px 0;
		
		@mixin atMedium{
			font-size: 1rem;
		}
		
		@mixin atLarge{
			font-size: 1.3rem;
		}
	}	
}

/*__________________________________________________________________________________ */

/* form */

.form{
	width: 100%;

	@mixin atMedium{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 50px;
		padding: 0;
	}

	@mixin atLarge{
		margin-top: 90px;
	}
	
	&__box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		
		@mixin atMedium{
			background-color: rgba(255, 255, 255, 0.075);
			border-radius: 4px;
			margin-right: 15px;
			flex-wrap: nowrap;
		}
	}
	
	&__input-container{
		width: 100%;
		position: relative;
		
		&--half{
			flex-grow: 1;
			width: 49%;
		}
		
		@mixin atMedium{
			width: auto;
			
			&:first-child{
				flex-shrink: 0;
				width: 40%;
			}
		}
	}
	
	&__input{
		background-color: rgba(255, 255, 255, 0.075);
		border: none;
		border-radius: 4px;
		height: 43px;
		padding: 14px 12px 0px 12px;
		width: 100%;
		font-size: 0.8rem;
		color: $mainGrey;
		margin-bottom: 5px;
		
		&:focus{
			outline-offset: 0px;
			outline: 2px solid $mainOrange;
		}
		
		@mixin atMedium{
			height: 50px;
			font-size: 0.8125rem;
			margin-bottom: 0;
			border-radius: 0;
			background-color: transparent;
		}
		
		@mixin atLarge{
			height: 60px;
		}
	}
	
	&__input-separator{
		display: none;
		
		&--mobile{
			display: inline;
			width: 5px;
			
			@mixin atMedium{
				width: 1px;
			}
		}
		
		@mixin atMedium{
			display: inline;
			width: 1px;
			height: 40px;
			background-color: $mainGrey;
			margin: auto 0;
		}
		
		@mixin atLarge{
			height: 50px;
		}
	}

	
	&__input::placeholder {
	  color: $mainGrey;
	}
	
	&__input-label{
		position: absolute;
		top: 7px;
		left: 12px;
		font-size: 0.775rem;
		font-weight: 500;
		
		@mixin atMedium{
			font-size: 0.8125rem;
			top: 13px;
		}
	}
}

/*__________________________________________________________________________________ */

/* login form */
.background{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	padding: 0 20px;
}

.login-form{
	background-color: $mainWhite;
	border-radius: 3px;
	padding: 30px;
	width: 100%;
	max-width: 260px;
	
	&__logo{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;
	
		
		img{
			height: 60px;
			width: 60px;
			margin-right: 5px;
		}
		
		&__text{
			color: $mainWhite;
			font-weight: 300;
			font-size: 1.4rem;
		}
	}
	
	&__headline{
		display: flex;
		margin: 5px 0 40px 0;
		justify-content: center;
	}
	
	&__iconbox{
		display: flex;
		align-items: center;
		padding-top: 4px;
		
		i{
			margin-right: 10px;
			color: $mainOrange;
			font-size: 0.9rem;
		}
	}
	
	&__title{
		font-size: 1.7rem;
		text-align: center;
		font-weight: 600;
		color: $darkBlue;
		padding-right: 15px;
		margin: 0;
	}
	
	&__input-container{
		display: flex;
		background-color: #e8ebed;
		width: 100%;
		height: 43px;
		border-radius: 4px;
		margin-top: 7px;
	}
	
	&__input-iconbox{
		display: flex;
		align-items: center;
		margin-left: 15px;
		
		i{
			color: $mainOrange;
			font-size: 1.1rem;
		}
	}
	
	&__input{
		width: 100%;
		margin-bottom: 0;
		border: none;
		background-color: transparent;
		padding: 10px 15px;
		font-size: 0.85rem;
	}
	
	&__signup-line{
		color: $darkBlue;
		text-align: center;
		font-size: 0.6rem;
		margin: 20px 0 0 0;
		
		a{
			
			
			&:visited{
				color: $darkBlue;
			}
		}
	}
	
	&__privacy-policy-line{
		color: $mainWhite;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 200;
		margin-top: 30px;
		
		a{
			text-decoration: underline;
		}
	}
}

/*__________________________________________________________________________________ */

/* page-section */

.page-section{
	padding: 50px 0;
	color: $darkBlue;
	
	&--lightBG{
		background-color: $lightGrey;
	}
	
	@mixin atMedium{
		padding: 80px 0 120px 0;
	}
	
	&--dark{
		color: $mainWhite;	
	}
	
	&--fixed-height{
		
	}
	
	&__title{
		margin: 0 0 3px 0;
		font-size: 1.3rem;
		text-align: center;
		font-weight: 600;
		padding-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		@mixin atSmall{
			font-size: 1.5rem;
		}
		
		i{
			line-height:;
			margin-right: 10px;
			color: $mainOrange;
			font-size: 0.8rem;
			
			@mixin atLarge{
				font-size: 1.2rem;
			}
		}
	}
	
	&__subtitle{
		margin: 0;
		margin-bottom: 40px;
		font-size: 0.9rem;
		font-weight: 300;
		text-align: center;
		
		@mixin atLarge{
			font-size: 1.1rem;
		}
	}
	
	&__text{
		font-size: 0.875rem;
		font-weight: 100;
		
		@mixin atLarge{
			font-size: 1.0rem;
		}
	}
	
	&--with-bg{
		
    	background-image: url(../images/about_us_bg.jpg);
		background-size: 200%;
		background-position: center left;
	}
}

/*__________________________________________________________________________________ */

/* feature-items */

.feature-item{
	
	text-align: center;
	color: $darkBlue;
	margin-bottom: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
	@mixin atLarge{
		width: 100%;
	}
	
	&__icon{
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	i{
		color: $mainTurquoise;
		font-size: 2.0rem;
	}
	
	&__title{
		font-size: 1.0rem;
		margin: 5px 0;
	}
	
	&__description{
		margin: 0;
		font-size: 0.875rem;
	}
	
	&:last-child{
		margin-bottom: 0;
	}
}

/*__________________________________________________________________________________ */

/* footer */
.site-footer{
	padding: 30px 0;
	
	&__container{
		display: flex;
		flex-direction: column;
	}
	
	
	&__section{
		color: $mainWhite;
		border-bottom: 1px solid $lightGrey;
		padding: 15px 0;
		
		@mixin atMedium{
			border-bottom: none;
			
			&__1{
				order: 2;
				
			}

			&__2{
				order: 1;
			}

			&__3{
				order: 3;
			}
		}
	}
	
	&__section:first-child{
		
	}
	
	&__section:last-child{
		border-bottom: none;
	}
	
	&__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		
		img{
			height: 50px;
			width: 50px;
			margin-right: 5px;
		}
		
		&__text{
			color: $mainWhite;
			font-weight: 300;
			font-size: 1.1rem;
		}
	}
	
	&__text{
		color: $mainGrey;
		font-weight: 200;
		font-size: 0.6rem;
		margin-bottom: 0;
		text-align: center;
	}
}

.social-media{
	display: flex;
	justify-content: center;
	
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 32px;
		height: 32px;
		border: 1px solid $mainGrey;
		border-radius: 5px;
		margin-right: 10px;
		
		@mixin atMedium{
			width: 21px;
			height: 21px;
		}
		
		i{
			font-size: 1.0rem;
			
			@mixin atMedium{
				font-size: 0.7rem;
			}
		}
	}
	
	&__item:last-child{
		margin-right: 0;
	}
	
	&__text{
		font-size: 0.8rem;
		font-weight: 200;
		padding: 10px 0 0 0;
		margin: 0;
		text-align: center;
		color: $mainGrey;
	}
}

.site-map{
	
	display: flex;
	justify-content: center;
	
	@mixin atMedium{
		padding: 0 200px;
		justify-content: space-evenly;
	}
	
	&__item{
		
		margin-right: 20px;
		
		ul{
			padding: 0;
			margin: 0;
		}
		
		&__header{
			font-weight: 400;
			font-size: 0.7rem;
			color: $mainTurquoise;
			list-style: none;
			padding-bottom: 10px;
			
			@mixin atMedium{
				font-size: 1rem;
			}
		}
		
		a{
			color: $mainGrey;
			text-decoration: none;
		}
		
		a li{
			font-size: 0.6rem;
			list-style: none;
			font-weight: 200;
			padding-bottom: 8px; 
			
			@mixin atMedium{
				font-size: 0.9rem;
			}
		}
		
	}
	
	&__item:last-child{
		margin-right: 0;
	}
}

/*__________________________________________________________________________________ */

